$displays: (
        block,
        inline-block,
        inline,
        flex,
        none,
);

$positions: (
        absolute,
        relative,
        fixed,
        static,
        sticky,
);

$overflows: (
        hidden,
        visible,
        scroll,
);

$visibilities: (
        visible,
        hidden,
);

@each $breakpoint in map_keys($lrj-media-breakpoints) {
  @each $display in $displays {
    @include media_all(".display-" + $display, $breakpoint) {
      display: $display;
    }
  }

  @each $position in $positions {
    @include media_all(".position-" + $position, $breakpoint) {
      position: $position;
    }
  }

  @each $overflow in $overflows {
    @include media_all(".overflow-" + $overflow, $breakpoint) {
      overflow: $overflow;
    }
  }

  @each $visibility in $visibilities {
    @include media_all(".visibility-" + $visibility, $breakpoint) {
      visibility: $visibility;
    }
  }

  @for $i from -12 through 12 {
    @include media_all(".z-index-" + $i, $breakpoint) {
      z-index: $i;
    }
  }
}