.object-label {
  div.description-container, div.avatar-container {
    display: table-cell;
    vertical-align: top;
  }
  div.description {
    display: inline-block;
    @each $breakpoint in map_keys($lrj-media-breakpoints) {
      @include media($breakpoint) {
        margin-left: map_get_default($lrj-spacer, $breakpoint);
      }
    }
    &.no-avatar {
      margin-left: 0;
    }
    > div.sub {
      font-size: 75%;
    }
    @each $breakpoint in map_keys($lrj-media-breakpoints) {
      @if (map_has_key($lrj-avatar-sizes, $breakpoint)) {
        @each $size-name, $size in map_get($lrj-avatar-sizes, $breakpoint) {
          @include media($breakpoint) {
            #{"&.description-" + $size-name} {
              line-height: $size;
              h4 {
                display: inline-block;
                margin-top: 0;
              }
            }
          }
        }
      }
    }
  }
  div.avatar {
    display: inline-block;
    margin: 0;
    padding: 0;
    text-align: center;
    vertical-align: top;

    > .glyphicon {
      vertical-align: bottom;
      @if (global-variable-exists(text-color)) {
        color: $text-color !important;
      }
    }
    @each $breakpoint in map_keys($lrj-media-breakpoints) {
      @if (map_has_key($lrj-avatar-sizes, $breakpoint)) {
        @each $size-name, $size in map_get($lrj-avatar-sizes, $breakpoint) {
          @include media($breakpoint) {
            #{"&.avatar-" + $size-name} {
              vertical-align: middle;
              width: $size;
              height: $size;
              font-size: $size / 2;
            }
          }
        }
      }
    }
  }
}
