$text-styles: (
        align: (text-align: (center, left, right)),
        weight: (font-weight: (bold, bolder, light, normal)),
        decoration: (text-decoration: (underline, none)),
        style: (font-style: (italic, normal)),
);

@each $breakpoint in map_keys($lrj-media-breakpoints) {
  @each $name, $styles in $text-styles {
    @each $style, $values in $styles {
      @each $value in $values {
        @include media_all(".text-" + $name + "-" + $value, $breakpoint) {
          $style: $value;
        }
      }
    }
  }
}