$lrj-media-breakpoints: (
        mobile: 460px,
        tablet: 890px,
        desktop: 1288px,
) !default;
$lrj-media-breakpoints: map_merge((default: false), $lrj-media-breakpoints);

/* spacer */
$lrj-spacer: (
        mobile: 8px,
        tablet: 16px,
        desktop: 24px,
) !default;
$lrj-spacer: map_merge((default: map_get($lrj-spacer, first(map_keys($lrj-spacer)))), $lrj-spacer);

/* label */
$lrj-avatar-sizes: (
        mobile: (
                small: 15px,
                medium: 20px,
                large: 40px,
                full: 60px,
        ),
        tablet: (
                small: 20px,
                medium: 40px,
                large: 60px,
                full: 80px,
        ),
        desktop: (
                small: 40px,
                medium: 60px,
                large: 80px,
                full: 100px,
        )
) !default;
$lrj-avatar-sizes: map_merge((default: map_get($lrj-avatar-sizes, first(map_keys($lrj-avatar-sizes)))), $lrj-avatar-sizes);

$lrj-animation-timing-functions: (
        mobile: (
                default: cubic-bezier(.67, .01, .14, 1.01),
                in: ease-in,
                out: ease-out,
        ),
        tablet: (
                default: cubic-bezier(.67, .01, .14, 1.01),
                in: ease-in,
                out: ease-out,
        ),
        desktop: (
                default: cubic-bezier(.67, .01, .14, 1.01),
                in: ease-in,
                out: ease-out,
        ),
) !default;
$lrj-animation-timing-functions: map_merge((default: map_get($lrj-animation-timing-functions, first(map_keys($lrj-animation-timing-functions)))), $lrj-animation-timing-functions);

$lrj-animation-blur: 50px !default;

$lrj-animation-durations: (
        ms0: 0ms,
        ms25: 25ms,
        ms50: 50ms,
        ms75: 75ms,
        ms100: 100ms,
        ms125: 125ms,
        ms150: 150ms,
        ms175: 175ms,
        ms200: 200ms,
        ms225: 225ms,
        ms250: 250ms,
        ms275: 275ms,
        ms300: 300ms,
        ms325: 325ms,
        ms350: 350ms,
        ms375: 375ms,
        ms400: 400ms,
        ms425: 425ms,
        ms450: 450ms,
        ms475: 475ms,
        ms500: 500ms,
        ms525: 525ms,
        ms550: 550ms,
        ms575: 575ms,
        ms600: 600ms,
        ms625: 625ms,
        ms650: 650ms,
        ms675: 675ms,
        ms700: 700ms,
        ms725: 725ms,
        ms750: 750ms,
        ms775: 775ms,
        ms800: 800ms,
        ms825: 825ms,
        ms850: 850ms,
        ms875: 875ms,
        ms900: 900ms,
        ms925: 925ms,
        ms950: 950ms,
        ms975: 975ms,
        ms1000: 1000ms,
        ms1025: 1025ms,
        ms1050: 1050ms,
        ms1075: 1075ms,
        ms1100: 1100ms,
        ms1125: 1125ms,
        ms1150: 1150ms,
        ms1175: 1175ms,
        ms1200: 1200ms,
) !default;

/* sizes */
$lrj-multipliers: (
        x0: 0,
        x1: 1,
        x2: 2,
        x3: 3,
        x4: 4,
        x5: 5,
        x6: 6,
        x7: 7,
        x8: 8,
        x9: 9,
        x10: 10,
        x11: 11,
        x12: 12,
        x2th: 1 / 2,
        x3th: 1 / 3,
        x4th: 1 / 4,
        x5th: 1 / 5,
        x6th: 1 / 6,
        x7th: 1 / 7,
        x8th: 1 / 8,
        x9th: 1 / 9,
        x10th: 1 / 10,
        x11th: 1 / 11,
        x12th: 1 / 12,
) !default;

$lrj-negative-multipliers: (
        x-1: -1,
        x-2: -2,
        x-3: -3,
        x-4: -4,
        x-5: -5,
        x-6: -6,
        x-7: -7,
        x-8: -8,
        x-9: -9,
        x-10: -10,
        x-11: -11,
        x-12: -12,
        x-2th: 1 / -2,
        x-3th: 1 / -3,
        x-4th: 1 / -4,
        x-5th: 1 / -5,
        x-6th: 1 / -6,
        x-7th: 1 / -7,
        x-8th: 1 / -8,
        x-9th: 1 / -9,
        x-10th: 1 / -10,
        x-11th: 1 / -11,
        x-12th: 1 / -12,
) !default;

$lrj-all-multipliers: map_merge($lrj-multipliers, $lrj-negative-multipliers);

$lrj-relatives: (
        r10: 10,
        r20: 20,
        r30: 30,
        r40: 40,
        r50: 50,
        r60: 60,
        r70: 70,
        r80: 80,
        r90: 90,
        r25: 25,
        r75: 75,
        r33: 33.33333333333,
        r66: 66.66666666666,
        r16: 16.66666666666,
        r83: 83.33333333333,
        r100: 100,
        r200: 200,
        r300: 300,
        r400: 400,
        r500: 500,
        r600: 600,
        r700: 700,
        r800: 800,
        r900: 900,
        r1000: 1000,
        r1100: 1100,
        r1200: 1200,
) !default;

$lrj-negative-relatives: (
        r-10: -10,
        r-20: -20,
        r-30: -30,
        r-40: -40,
        r-50: -50,
        r-60: -60,
        r-70: -70,
        r-80: -80,
        r-90: -90,
        r-25: -25,
        r-75: -75,
        r-33: -33.33333333333,
        r-66: -66.66666666666,
        r-16: -16.66666666666,
        r-83: -83.33333333333,
        r-100: -100,
        r-200: -200,
        r-300: -300,
        r-400: -400,
        r-500: -500,
        r-600: -600,
        r-700: -700,
        r-800: -800,
        r-900: -900,
        r-1000: -1000,
        r-1100: -1100,
        r-1200: -1200,
) !default;

$lrj-all-relatives: map_merge($lrj-relatives, $lrj-negative-relatives);

$render-breakpoint-lower-ends: false !default;

// React Widget fix
$font-path: '~react-widgets/lib/fonts';
$img-path: '~react-widgets/lib/img';
$multiselect-tag-gutter-fallback: calc($input-height * $multiselect-gutter-pt) !default;
$multiselect-tag-gutter: calc($multiselect-tag-gutter-fallback - $input-border-width) !default;
$multiselect-tag-height: calc($input-height * $multiselect-tag-height-pt) !default;