$animation-types: ('translate', 'scale');
$animation-directions: (
                ('top', 'Y', true),
                ('bottom', 'Y', false),
                ('left', 'X', true),
                ('right', 'X', false),
);

@each $type in $animation-types {
  @each $direction, $axis, $dir in $animation-directions {
    @each $breakpoint in map_keys($lrj-media-breakpoints) {
      @each $name, $relative in $lrj-relatives {
        @keyframes #{$type + "-" + $direction + "-in" + $name + breakpoint_name($breakpoint)} {
          from {
            @if ($dir) {
              transform: #{$type + $axis + "("+ (-1 * $relative) + ")"};
            } @else {
              transform: #{$type + $axis + "("+ ($relative) + ")"};
            }
          }
          to {
            transform: #{$type + $axis + "(0)"};
          }
        }
        @keyframes #{$type + "-" + $direction + "-out" + $name + breakpoint_name($breakpoint)} {
          from {
            transform: #{$type + $axis + "(0)"};
          }
          to {
            @if ($dir) {
              transform: #{$type + $axis + "("+ (-1 * $relative) + ")"};
            } @else {
              transform: #{$type + $axis + "("+ ($relative) + ")"};
            }
          }
        }
        @keyframes #{$type + "-" + $direction + "-fade-in" + $name + breakpoint_name($breakpoint)} {
          from {
            @if ($dir) {
              transform: #{$type + $axis + "("+ (-1 * $relative) + ")"};
            } @else {
              transform: #{$type + $axis + "("+ ($relative) + ")"};
            }
            opacity: 0;
          }
          to {
            transform: #{$type + $axis + "(0)"};
            opacity: 1;
          }
        }
        @keyframes #{$type + "-" + $direction + "-fade-out" + $name + breakpoint_name($breakpoint)} {
          from {
            transform: #{$type + $axis + "(0)"};
            opacity: 1;
          }
          to {
            @if ($dir) {
              transform: #{$type + $axis + "("+ (-1 * $relative) + ")"};
            } @else {
              transform: #{$type + $axis + "("+ ($relative) + ")"};
            }
            opacity: 0;
          }
        }
      }

      @each $name, $multiplier in $lrj-multipliers {
        @if ($name == x1) {
          $name: "";
        } @else {
          $name: #{"-" + $name};
        }
        $spacer-value: map_get_default($lrj-spacer, $breakpoint);
        @keyframes #{$type + "-" + $direction + "-in" + $name + breakpoint_name($breakpoint)} {
          from {
            @if ($dir) {
              transform: #{$type + $axis + "("+ (-1 * $multiplier * $spacer-value) + ")"};
            } @else {
              transform: #{$type + $axis + "("+ ($multiplier * $spacer-value) + ")"};
            }
          }
          to {
            transform: #{$type + $axis + "(0)"};
          }
        }
        @keyframes #{$type + "-" + $direction + "-out" + $name + breakpoint_name($breakpoint)} {
          from {
            transform: #{$type + $axis + "(0)"};
          }
          to {
            @if ($dir) {
              transform: #{$type + $axis + "("+ (-1 * $multiplier * $spacer-value) + ")"};
            } @else {
              transform: #{$type + $axis + "("+ ($multiplier * $spacer-value) + ")"};
            }
          }
        }
        @keyframes #{$type + "-" + $direction + "-fade-in" + $name + breakpoint_name($breakpoint)} {
          from {
            @if ($dir) {
              transform: #{$type + $axis + "("+ (-1 * $multiplier * $spacer-value) + ")"};
            } @else {
              transform: #{$type + $axis + "("+ ($multiplier * $spacer-value) + ")"};
            }
            opacity: 0;
          }
          to {
            transform: #{$type + $axis + "(0)"};
            opacity: 1;
          }
        }
        @keyframes #{$type + "-" + $direction + "-fade-out" + $name + breakpoint_name($breakpoint)} {
          from {
            transform: #{$type + $axis + "(0)"};
            opacity: 1;
          }
          to {
            @if ($dir) {
              transform: #{$type + $axis + "("+ (-1 * $multiplier * $spacer-value) + ")"};
            } @else {
              transform: #{$type + $axis + "("+ ($multiplier * $spacer-value) + ")"};
            }
            opacity: 0;
          }
        }
      }
    }
  }
}

@each $breakpoint in map_keys($lrj-media-breakpoints) {
  @if (map_has_key($lrj-animation-timing-functions, $breakpoint)) {
    @each $function-name, $function in map_get($lrj-animation-timing-functions, $breakpoint) {
      @include media_all(".animation-timing-function-" + $function-name, $breakpoint) {
        animation-timing-function: $function;
      }
      @include media_all(".transition-timing-function-" + $function-name, $breakpoint) {
        transition-timing-function: $function;
      }
    }
  }
}

@each $breakpoint in map_keys($lrj-media-breakpoints) {
  @each $name, $duration in $lrj-animation-durations {
    @include media_all(".animation-duration-" + $name, $breakpoint) {
      animation-duration: $duration;
    }
    @include media_all(".animation-delay-" + $name, $breakpoint) {
      animation-delay: $duration;
    }
    @include media_all(".transition-duration-" + $name, $breakpoint) {
      transition-duration: $duration;
    }
    @include media_all(".transition-delay-" + $name, $breakpoint) {
      transition-delay: $duration;
    }
  }
}

.animate-in {
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
}

.animate-out {
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: reverse;
}

.animation-hold {
  animation: none;
}

.fade {
  &-out, &-in {
    transition-property: opacity;
  }

  &-out {
    opacity: 0;
  }

  &-in {
    opacity: 1;
  }
}

.blur {
  &-out, &-in {
    transition-property: filter;
  }

  &-out {
    filter: blur($lrj-animation-blur)
  }

  &-in {
    filter: none
  }
}

.gray {
  &-out, &-in {
    transition-property: filter;
  }

  &-out {
    filter: grayscale(1)
  }

  &-in {
    filter: grayscale(0);
  }
}
