.react-bootstrap-table {

  .number-filter,
  .date-filter {
    display: flex;
  }

  .number-filter-comparator,
  .date-filter-comparator {
    width: 40px;
    @each $breakpoint in map_keys($lrj-media-breakpoints) {
      @if (map_has_key($lrj-avatar-sizes, $breakpoint)) {
        @each $size-name, $size in map_get($lrj-avatar-sizes, $breakpoint) {
          @include media($breakpoint) {
            margin-right: $size / 2;
          }
        }
      }
    }
  }

  th.sortable {
    position: relative;

    > .react-bootstrap-table-sort-order, .order {
      position: absolute;
      @each $breakpoint in map_keys($lrj-media-breakpoints) {
        @if (map_has_key($lrj-avatar-sizes, $breakpoint)) {
          @each $size-name, $size in map_get($lrj-avatar-sizes, $breakpoint) {
            @include media($breakpoint) {
              right: $size / 2;
            }
          }
        }
      }
    }
  }

}

.react-bootstrap-table-pagination {

  .react-bootstrap-table-pagination-footer {
    display: inline-block;
    @each $breakpoint in map_keys($lrj-media-breakpoints) {
      @if (map_has_key($lrj-avatar-sizes, $breakpoint)) {
        @each $size-name, $size in map_get($lrj-avatar-sizes, $breakpoint) {
          @include media($breakpoint) {
            margin-left: $size;
          }
        }
      }
    }
  }

  .react-bootstrap-table-pagination-list {
    text-align: right;
  }

  .react-bootstrap-table-page-btns-ul {
    margin: 0 !important;
  }

}
