$justify-and-aligns: (
        flex-start,
        center,
        flex-end,
        space-around,
        space-between,
        stretch,
);

$justify-orientations: (
        justify-content,
        justify-self,
        align-content,
        align-self,
        align-items,
);

@each $breakpoint in map_keys($lrj-media-breakpoints) {
  @include media_all(".flex-horizontal", $breakpoint) {
    display: flex;
    flex-direction: row;
  }
  @include media_all(".flex-vertical", $breakpoint) {
    display: flex;
    flex-direction: column;
  }

  @each $justify-and-align in $justify-and-aligns {
    @each $justify-orientation in $justify-orientations {
      @include media_all("." + $justify-orientation + "-" + $justify-and-align, $breakpoint) {
        #{$justify-orientation}: $justify-and-align;
      }
    }
  }

  @for $i from 0 through 12 {
    @include media_all(".flex-" + $i, $breakpoint) {
      flex: $i;
    }
  }
}
