@mixin media_all($name, $breakpoint) {
  @if ($breakpoint == default) {
    #{$name} {
      @content;
    }
  } @else {
    $media-functions: ("-min", "-max", "");
    @each $identifier in $media-functions {
      $copy: $name + $identifier + breakpoint_name($breakpoint);
      #{$copy} {
        @if ($identifier == "-min") {
          @include media_min($breakpoint) {
            @content;
          }
        } @else if ($identifier == "-max") {
          @include media_max($breakpoint) {
            @content;
          }
        } @else if ($identifier == "") {
          @include media($breakpoint, $render-breakpoint-lower-ends) {
            @content;
          }
        } @else {
          @error "something went wrong"
        }
      }
    }
  }
}

@mixin media($breakpoint, $compile-lower-ends: true) {
  @if ($breakpoint == default) {
    @content;
  } @else {
    $p: get_breakpoint($breakpoint);
    $bps: map_keys($lrj-media-breakpoints);
    $prev: get_breakpoint(prev($bps, $breakpoint));
    @if ($prev == false) {
      @if ($compile-lower-ends == true) {
        @include media_between(0, $p - 1) {
          @content;
        }
      }
    } @else {
      @include media_between($prev, $p - 1) {
        @content;
      }
    }
  }
}

@mixin media_min($breakpoint) {
  @if ($breakpoint == default) {
    @content;
  } @else {
    @include media_between(get_breakpoint($breakpoint), false) {
      @content;
    }
  }
}

@mixin media_max($breakpoint) {
  @if ($breakpoint == default) {
    @content;
  } @else {
    @include media_between(false, get_breakpoint($breakpoint) - 1) {
      @content;
    }
  }
}

@mixin media_between($min-breakpoint, $max-breakpoint, $compile-lower-ends: true, $compile-upper-ends: true) {
  @if ($min-breakpoint == false and $max-breakpoint == false) {
    @content;
  } @else if ($min-breakpoint and $max-breakpoint) {
    @media (min-width: $min-breakpoint) and (max-width: $max-breakpoint) {
      @content;
    }
  } @else if ($compile-lower-ends and $min-breakpoint) {
    @media (min-width: $min-breakpoint) {
      @content;
    }
  } @else if ($compile-upper-ends and $max-breakpoint) {
    @media (max-width: $max-breakpoint) {
      @content;
    }
  } @else {
    @error "no defined breakpoint";
  }
}