@each $breakpoint in map_keys($lrj-media-breakpoints) {
  @each $name, $relative in $lrj-relatives {
    @include media_all(".width-vw-" + $name, $breakpoint) {
      width: #{$relative + "vw"};
    }
    @include media_all(".width-vh-" + $name, $breakpoint) {
      width: #{$relative + "vh"};
    }
    @include media_all(".width-" + $name, $breakpoint) {
      width: #{$relative + "%"};
    }
    @include media_all(".min-width-vw-" + $name, $breakpoint) {
      min-width: #{$relative + "vw"};
    }
    @include media_all(".min-width-vh-" + $name, $breakpoint) {
      min-width: #{$relative + "vh"};
    }
    @include media_all(".min-width-" + $name, $breakpoint) {
      min-width: #{$relative + "%"};
    }
    @include media_all(".max-width-vw-" + $name, $breakpoint) {
      max-width: #{$relative + "vw"};
    }
    @include media_all(".max-width-vh-" + $name, $breakpoint) {
      max-width: #{$relative + "vh"};
    }
    @include media_all(".max-width-" + $name, $breakpoint) {
      max-width: #{$relative + "%"};
    }
    @include media_all(".height-vw-" + $name, $breakpoint) {
      height: #{$relative + "vw"};
    }
    @include media_all(".height-vh-" + $name, $breakpoint) {
      height: #{$relative + "vh"};
    }
    @include media_all(".height-" + $name, $breakpoint) {
      height: #{$relative + "%"};
    }
    @include media_all(".min-height-vw-" + $name, $breakpoint) {
      min-height: #{$relative + "vw"};
    }
    @include media_all(".min-height-vh-" + $name, $breakpoint) {
      min-height: #{$relative + "vh"};
    }
    @include media_all(".min-height-" + $name, $breakpoint) {
      min-height: #{$relative + "%"};
    }
    @include media_all(".max-height-vw-" + $name, $breakpoint) {
      max-height: #{$relative + "vw"};
    }
    @include media_all(".max-height-vh-" + $name, $breakpoint) {
      max-height: #{$relative + "vh"};
    }
    @include media_all(".max-height-" + $name, $breakpoint) {
      max-height: #{$relative + "%"};
    }
    @include media_all(".dim-vw-" + $name, $breakpoint) {
      width: #{$relative + "vw"};
      height: #{$relative + "vw"};
    }
    @include media_all(".dim-vh-" + $name, $breakpoint) {
      width: #{$relative + "vh"};
      height: #{$relative + "vh"};
    }
    @include media_all(".dim-v-" + $name, $breakpoint) {
      width: #{$relative + "vw"};
      height: #{$relative + "vh"};
    }
    @include media_all(".dim-vi-" + $name, $breakpoint) {
      width: #{$relative + "vh"};
      height: #{$relative + "vw"};
    }
    @include media_all(".dim-" + $name, $breakpoint) {
      width: #{$relative + "%"};
      height: #{$relative + "%"};
    }
    @include media_all(".p-vw-" + $name, $breakpoint) {
      padding: #{$relative + "vw"};
    }
    @include media_all(".p-vh-" + $name, $breakpoint) {
      padding: #{$relative + "vh"};
    }
    @include media_all(".p-" + $name, $breakpoint) {
      padding: #{$relative + "%"};
    }
    @include media_all(".pr-vw-" + $name, $breakpoint) {
      padding-right: #{$relative + "vw"};
    }
    @include media_all(".pr-vh-" + $name, $breakpoint) {
      padding-right: #{$relative + "vh"};
    }
    @include media_all(".pr-" + $name, $breakpoint) {
      padding-right: #{$relative + "%"};
    }
    @include media_all(".pl-vw-" + $name, $breakpoint) {
      padding-left: #{$relative + "vw"};
    }
    @include media_all(".pl-vh-" + $name, $breakpoint) {
      padding-left: #{$relative + "vh"};
    }
    @include media_all(".pl-" + $name, $breakpoint) {
      padding-left: #{$relative + "%"};
    }
    @include media_all(".pt-vw-" + $name, $breakpoint) {
      padding-top: #{$relative + "vw"};
    }
    @include media_all(".pt-vh-" + $name, $breakpoint) {
      padding-top: #{$relative + "vh"};
    }
    @include media_all(".pt-" + $name, $breakpoint) {
      padding-top: #{$relative + "%"};
    }
    @include media_all(".pb-vw-" + $name, $breakpoint) {
      padding-bottom: #{$relative + "vw"};
    }
    @include media_all(".pb-vh-" + $name, $breakpoint) {
      padding-bottom: #{$relative + "vh"};
    }
    @include media_all(".pb-" + $name, $breakpoint) {
      padding-bottom: #{$relative + "%"};
    }
    @include media_all(".ph-vw-" + $name, $breakpoint) {
      padding-left: #{$relative + "vw"};
      padding-right: #{$relative + "vw"};
    }
    @include media_all(".ph-vh-" + $name, $breakpoint) {
      padding-left: #{$relative + "vh"};
      padding-right: #{$relative + "vh"};
    }
    @include media_all(".ph-" + $name, $breakpoint) {
      padding-left: #{$relative + "%"};
      padding-right: #{$relative + "%"};
    }
    @include media_all(".pv-vw-" + $name, $breakpoint) {
      padding-bottom: #{$relative + "vw"};
      padding-top: #{$relative + "vw"};
    }
    @include media_all(".pv-vh-" + $name, $breakpoint) {
      padding-bottom: #{$relative + "vh"};
      padding-top: #{$relative + "vh"};
    }
    @include media_all(".pv-" + $name, $breakpoint) {
      padding-bottom: #{$relative + "%"};
      padding-top: #{$relative + "%"};
    }
    @include media_all(".font-size-" + $name, $breakpoint) {
      font-size: #{$relative + "%"};
    }
    @include media_all(".line-height-" + $name, $breakpoint) {
      line-height: #{$relative + "%"};
    }
  }

  @each $name, $relative in $lrj-all-relatives {
    @include media_all(".m-vw-" + $name, $breakpoint) {
      margin: #{$relative + "vw"};
    }
    @include media_all(".m-vh-" + $name, $breakpoint) {
      margin: #{$relative + "vh"};
    }
    @include media_all(".m-" + $name, $breakpoint) {
      margin: #{$relative + "%"};
    }
    @include media_all(".mr-vw-" + $name, $breakpoint) {
      margin-right: #{$relative + "vw"};
    }
    @include media_all(".mr-vh-" + $name, $breakpoint) {
      margin-right: #{$relative + "vh"};
    }
    @include media_all(".mr-" + $name, $breakpoint) {
      margin-right: #{$relative + "%"};
    }
    @include media_all(".ml-vw-" + $name, $breakpoint) {
      margin-left: #{$relative + "vw"};
    }
    @include media_all(".ml-vh-" + $name, $breakpoint) {
      margin-left: #{$relative + "vh"};
    }
    @include media_all(".ml-" + $name, $breakpoint) {
      margin-left: #{$relative + "%"};
    }
    @include media_all(".mt-vw-" + $name, $breakpoint) {
      margin-top: #{$relative + "vw"};
    }
    @include media_all(".mt-vh-" + $name, $breakpoint) {
      margin-top: #{$relative + "vh"};
    }
    @include media_all(".mt-" + $name, $breakpoint) {
      margin-top: #{$relative + "%"};
    }
    @include media_all(".mb-vw-" + $name, $breakpoint) {
      margin-bottom: #{$relative + "vw"};
    }
    @include media_all(".mb-vh-" + $name, $breakpoint) {
      margin-bottom: #{$relative + "vh"};
    }
    @include media_all(".mb-" + $name, $breakpoint) {
      margin-bottom: #{$relative + "%"};
    }
    @include media_all(".mh-vw-" + $name, $breakpoint) {
      margin-left: #{$relative + "vw"};
      margin-right: #{$relative + "vw"};
    }
    @include media_all(".mh-vh-" + $name, $breakpoint) {
      margin-left: #{$relative + "vh"};
      margin-right: #{$relative + "vh"};
    }
    @include media_all(".mh-" + $name, $breakpoint) {
      margin-left: #{$relative + "%"};
      margin-right: #{$relative + "%"};
    }
    @include media_all(".mv-vw-" + $name, $breakpoint) {
      margin-bottom: #{$relative + "vw"};
      margin-top: #{$relative + "vw"};
    }
    @include media_all(".mv-vh-" + $name, $breakpoint) {
      margin-bottom: #{$relative + "vh"};
      margin-top: #{$relative + "vh"};
    }
    @include media_all(".mv-" + $name, $breakpoint) {
      margin-bottom: #{$relative + "%"};
      margin-top: #{$relative + "%"};
    }
    @include media_all(".top-vw-" + $name, $breakpoint) {
      top: #{$relative + "vw"};
    }
    @include media_all(".top-vh-" + $name, $breakpoint) {
      top: #{$relative + "vh"};
    }
    @include media_all(".top-" + $name, $breakpoint) {
      top: #{$relative + "%"};
    }
    @include media_all(".bottom-vw-" + $name, $breakpoint) {
      bottom: #{$relative + "vw"};
    }
    @include media_all(".bottom-vh-" + $name, $breakpoint) {
      bottom: #{$relative + "vh"};
    }
    @include media_all(".bottom-" + $name, $breakpoint) {
      bottom: #{$relative + "%"};
    }
    @include media_all(".left-vw-" + $name, $breakpoint) {
      left: #{$relative + "vw"};
    }
    @include media_all(".left-vh-" + $name, $breakpoint) {
      left: #{$relative + "vh"};
    }
    @include media_all(".left-" + $name, $breakpoint) {
      left: #{$relative + "%"};
    }
    @include media_all(".right-vw-" + $name, $breakpoint) {
      right: #{$relative + "vw"};
    }
    @include media_all(".right-vh-" + $name, $breakpoint) {
      right: #{$relative + "vh"};
    }
    @include media_all(".right-" + $name, $breakpoint) {
      right: #{$relative + "%"};
    }
    @include media_all(".translate-x-vw-" + $name, $breakpoint) {
      transform: translateX(#{$relative + "vw"});
    }
    @include media_all(".translate-x-vh-" + $name, $breakpoint) {
      transform: translateX(#{$relative + "vh"});
    }
    @include media_all(".translate-x-" + $name, $breakpoint) {
      transform: translateX(#{$relative + "%"});
    }
    @include media_all(".translate-y-vw-" + $name, $breakpoint) {
      transform: translateY(#{$relative + "vw"});
    }
    @include media_all(".translate-y-vh-" + $name, $breakpoint) {
      transform: translateY(#{$relative + "vh"});
    }
    @include media_all(".translate-y-" + $name, $breakpoint) {
      transform: translateY(#{$relative + "%"});
    }
    @include media_all(".translate-z-vw-" + $name, $breakpoint) {
      transform: translateZ(#{$relative + "vw"});
    }
    @include media_all(".translate-z-vh-" + $name, $breakpoint) {
      transform: translateZ(#{$relative + "vh"});
    }
    @include media_all(".translate-z-" + $name, $breakpoint) {
      transform: translateZ(#{$relative + "%"});
    }
    @include media_all(".translate-vw-" + $name, $breakpoint) {
      transform: translate(#{$relative + "vw"}, #{$relative + "vw"});
    }
    @include media_all(".translate-vh-" + $name, $breakpoint) {
      transform: translate(#{$relative + "vh"}, #{$relative + "vh"});
    }
    @include media_all(".translate-" + $name, $breakpoint) {
      transform: translate(#{$relative + "%"}, #{$relative + "%"});
    }
    @include media_all(".translate-3d-vw-" + $name, $breakpoint) {
      transform: translate3d(#{$relative + "vw"}, #{$relative + "vw"}, #{$relative + "vw"});
    }
    @include media_all(".translate-3d-vh-" + $name, $breakpoint) {
      transform: translate3d(#{$relative + "vh"}, #{$relative + "vh"}, #{$relative + "vh"});
    }
    @include media_all(".translate-3d-" + $name, $breakpoint) {
      transform: translate3d(#{$relative + "%"}, #{$relative + "%"}, #{$relative + "%"});
    }
    @include media_all(".scale-x-vw-" + $name, $breakpoint) {
      transform: scaleX(#{$relative + "vw"});
    }
    @include media_all(".scale-x-vh-" + $name, $breakpoint) {
      transform: scaleX(#{$relative + "vh"});
    }
    @include media_all(".scale-x-" + $name, $breakpoint) {
      transform: scaleX(#{$relative + "%"});
    }
    @include media_all(".scale-y-vw-" + $name, $breakpoint) {
      transform: scaleY(#{$relative + "vw"});
    }
    @include media_all(".scale-y-vh-" + $name, $breakpoint) {
      transform: scaleY(#{$relative + "vh"});
    }
    @include media_all(".scale-y-" + $name, $breakpoint) {
      transform: scaleY(#{$relative + "%"});
    }
    @include media_all(".scale-z-vw-" + $name, $breakpoint) {
      transform: scaleZ(#{$relative + "vw"});
    }
    @include media_all(".scale-z-vh-" + $name, $breakpoint) {
      transform: scaleZ(#{$relative + "vh"});
    }
    @include media_all(".scale-z-" + $name, $breakpoint) {
      transform: scaleZ(#{$relative + "%"});
    }
    @include media_all(".scale-vw-" + $name, $breakpoint) {
      transform: scale(#{$relative + "vw"}, #{$relative + "vw"});
    }
    @include media_all(".scale-vh-" + $name, $breakpoint) {
      transform: scale(#{$relative + "vh"}, #{$relative + "vh"});
    }
    @include media_all(".scale-" + $name, $breakpoint) {
      transform: scale(#{$relative + "%"}, #{$relative + "%"});
    }
    @include media_all(".scale-3d-vw-" + $name, $breakpoint) {
      transform: scale3d(#{$relative + "vw"}, #{$relative + "vw"}, #{$relative + "vw"});
    }
    @include media_all(".scale-3d-vh-" + $name, $breakpoint) {
      transform: scale3d(#{$relative + "vh"}, #{$relative + "vh"}, #{$relative + "vh"});
    }
    @include media_all(".scale-3d-" + $name, $breakpoint) {
      transform: scale3d(#{$relative + "%"}, #{$relative + "%"}, #{$relative + "%"});
    }
  }

  @each $name, $multiplier in $lrj-multipliers {
    @if ($name == x1) {
      $name: "";
    } @else {
      $name: #{"-" + $name};
    }
    $spacer-value: map_get_default($lrj-spacer, $breakpoint);
    @include media_all(".width" + $name, $breakpoint) {
      width: $multiplier * $spacer-value;
    }
    @include media_all(".min-width" + $name, $breakpoint) {
      min-width: $multiplier * $spacer-value;
    }
    @include media_all(".max-width" + $name, $breakpoint) {
      max-width: $multiplier * $spacer-value;
    }
    @include media_all(".height" + $name, $breakpoint) {
      height: $multiplier * $spacer-value;
    }
    @include media_all(".min-height" + $name, $breakpoint) {
      min-height: $multiplier * $spacer-value;
    }
    @include media_all(".max-height" + $name, $breakpoint) {
      max-height: $multiplier * $spacer-value;
    }
    @include media_all(".dim" + $name, $breakpoint) {
      width: $multiplier * $spacer-value;
      height: $multiplier * $spacer-value;
    }
    @include media_all(".p" + $name, $breakpoint) {
      padding: $multiplier * $spacer-value;
    }
    @include media_all(".pr" + $name, $breakpoint) {
      padding-right: $multiplier * $spacer-value;
    }
    @include media_all(".pl" + $name, $breakpoint) {
      padding-left: $multiplier * $spacer-value;
    }
    @include media_all(".pt" + $name, $breakpoint) {
      padding-top: $multiplier * $spacer-value;
    }
    @include media_all(".pb" + $name, $breakpoint) {
      padding-bottom: $multiplier * $spacer-value;
    }
    @include media_all(".ph" + $name, $breakpoint) {
      padding-left: $multiplier * $spacer-value;
      padding-right: $multiplier * $spacer-value;
    }
    @include media_all(".pv" + $name, $breakpoint) {
      padding-bottom: $multiplier * $spacer-value;
      padding-top: $multiplier * $spacer-value;
    }
    @include media_all(".border-radius" + $name, $breakpoint) {
      border-radius: $multiplier * $spacer-value;
    }
    @include media_all(".border-bottom-left-radius" + $name, $breakpoint) {
      border-bottom-left-radius: $multiplier * $spacer-value;
    }
    @include media_all(".border-bottom-right-radius" + $name, $breakpoint) {
      border-bottom-right-radius: $multiplier * $spacer-value;
    }
    @include media_all(".border-top-left-radius" + $name, $breakpoint) {
      border-top-left-radius: $multiplier * $spacer-value;
    }
    @include media_all(".border-top-right-radius" + $name, $breakpoint) {
      border-top-right-radius: $multiplier * $spacer-value;
    }
    @include media_all(".border-bottom-radius" + $name, $breakpoint) {
      border-bottom-left-radius: $multiplier * $spacer-value;
      border-bottom-right-radius: $multiplier * $spacer-value;
    }
    @include media_all(".border-left-radius" + $name, $breakpoint) {
      border-top-left-radius: $multiplier * $spacer-value;
      border-bottom-left-radius: $multiplier * $spacer-value;
    }
    @include media_all(".border-top-radius" + $name, $breakpoint) {
      border-top-left-radius: $multiplier * $spacer-value;
      border-top-right-radius: $multiplier * $spacer-value;
    }
    @include media_all(".border-right-radius" + $name, $breakpoint) {
      border-top-right-radius: $multiplier * $spacer-value;
      border-bottom-right-radius: $multiplier * $spacer-value;
    }
    @include media_all(".border-width" + $name, $breakpoint) {
      border-width: $multiplier * $spacer-value;
    }
    @include media_all(".border-bottom-width" + $name, $breakpoint) {
      border-bottom-width: $multiplier * $spacer-value;
    }
    @include media_all(".border-right-width" + $name, $breakpoint) {
      border-right-width: $multiplier * $spacer-value;
    }
    @include media_all(".border-left-width" + $name, $breakpoint) {
      border-left-width: $multiplier * $spacer-value;
    }
    @include media_all(".border-top-width" + $name, $breakpoint) {
      border-top-width: $multiplier * $spacer-value;
    }
    @include media_all(".border-h-width" + $name, $breakpoint) {
      border-left-width: $multiplier * $spacer-value;
      border-right-width: $multiplier * $spacer-value;
    }
    @include media_all(".border-v-width" + $name, $breakpoint) {
      border-top-width: $multiplier * $spacer-value;
      border-bottom-width: $multiplier * $spacer-value;
    }
    @include media_all(".font-size" + $name, $breakpoint) {
      font-size: $multiplier * $spacer-value;
    }
    @include media_all(".line-height" + $name, $breakpoint) {
      line-height: $multiplier * $spacer-value;
    }
  }

  @each $name, $multiplier in $lrj-all-multipliers {
    @if ($name == x1) {
      $name: "";
    } @else {
      $name: #{"-" + $name};
    }
    $spacer-value: map_get_default($lrj-spacer, $breakpoint);
    @include media_all(".m" + $name, $breakpoint) {
      margin: $multiplier * $spacer-value;
    }
    @include media_all(".mr" + $name, $breakpoint) {
      margin-right: $multiplier * $spacer-value;
    }
    @include media_all(".ml" + $name, $breakpoint) {
      margin-left: $multiplier * $spacer-value;
    }
    @include media_all(".mt" + $name, $breakpoint) {
      margin-top: $multiplier * $spacer-value;
    }
    @include media_all(".mb" + $name, $breakpoint) {
      margin-bottom: $multiplier * $spacer-value;
    }
    @include media_all(".mh" + $name, $breakpoint) {
      margin-left: $multiplier * $spacer-value;
      margin-right: $multiplier * $spacer-value;
    }
    @include media_all(".mv" + $name, $breakpoint) {
      margin-bottom: $multiplier * $spacer-value;
      margin-top: $multiplier * $spacer-value;
    }
    @include media_all(".top" + $name, $breakpoint) {
      top: $multiplier * $spacer-value;
    }
    @include media_all(".bottom" + $name, $breakpoint) {
      bottom: $multiplier * $spacer-value;
    }
    @include media_all(".left" + $name, $breakpoint) {
      left: $multiplier * $spacer-value;
    }
    @include media_all(".right" + $name, $breakpoint) {
      right: $multiplier * $spacer-value;
    }
    @include media_all(".translate-x" + $name, $breakpoint) {
      transform: translateX($multiplier * $spacer-value);
    }
    @include media_all(".translate-y" + $name, $breakpoint) {
      transform: translateY($multiplier * $spacer-value);
    }
    @include media_all(".translate-z" + $name, $breakpoint) {
      transform: translateZ($multiplier * $spacer-value);
    }
    @include media_all(".translate" + $name, $breakpoint) {
      transform: translate($multiplier * $spacer-value, $multiplier * $spacer-value);
    }
    @include media_all(".translate-3d" + $name, $breakpoint) {
      transform: translate3d($multiplier * $spacer-value, $multiplier * $spacer-value, $multiplier * $spacer-value);
    }
    @include media_all(".scale-x" + $name, $breakpoint) {
      transform: scaleX($multiplier * $spacer-value);
    }
    @include media_all(".scale-y" + $name, $breakpoint) {
      transform: scaleY($multiplier * $spacer-value);
    }
    @include media_all(".scale-z" + $name, $breakpoint) {
      transform: scaleZ($multiplier * $spacer-value);
    }
    @include media_all(".scale" + $name, $breakpoint) {
      transform: scale($multiplier * $spacer-value, $multiplier * $spacer-value);
    }
    @include media_all(".scale-3d" + $name, $breakpoint) {
      transform: scale3d($multiplier * $spacer-value, $multiplier * $spacer-value, $multiplier * $spacer-value);
    }
  }

  @include media_all(".width-auto", $breakpoint) {
    width: auto;
  }
  @include media_all(".min-width-auto", $breakpoint) {
    min-width: auto;
  }
  @include media_all(".max-width-auto", $breakpoint) {
    max-width: auto;
  }
  @include media_all(".height-auto", $breakpoint) {
    height: auto;
  }
  @include media_all(".min-height-auto", $breakpoint) {
    min-height: auto;
  }
  @include media_all(".max-height-auto", $breakpoint) {
    max-height: auto;
  }
  @include media_all(".dim-auto", $breakpoint) {
    width: auto;
    height: auto;
  }
  @include media_all(".p-auto", $breakpoint) {
    padding: auto;
  }
  @include media_all(".pr-auto", $breakpoint) {
    padding-right: auto;
  }
  @include media_all(".pl-auto", $breakpoint) {
    padding-left: auto;
  }
  @include media_all(".pt-auto", $breakpoint) {
    padding-top: auto;
  }
  @include media_all(".pb-auto", $breakpoint) {
    padding-bottom: auto;
  }
  @include media_all(".ph-auto", $breakpoint) {
    padding-left: auto;
    padding-right: auto;
  }
  @include media_all(".pv-auto", $breakpoint) {
    padding-bottom: auto;
    padding-top: auto;
  }
  @include media_all(".m-auto", $breakpoint) {
    margin: auto;
  }
  @include media_all(".mr-auto", $breakpoint) {
    margin-right: auto;
  }
  @include media_all(".ml-auto", $breakpoint) {
    margin-left: auto;
  }
  @include media_all(".mt-auto", $breakpoint) {
    margin-top: auto;
  }
  @include media_all(".mb-auto", $breakpoint) {
    margin-bottom: auto;
  }
  @include media_all(".mh-auto", $breakpoint) {
    margin-left: auto;
    margin-right: auto;
  }
  @include media_all(".mv-auto", $breakpoint) {
    margin-bottom: auto;
    margin-top: auto;
  }
  @include media_all(".top-auto", $breakpoint) {
    top: auto;
  }
  @include media_all(".bottom-auto", $breakpoint) {
    bottom: auto;
  }
  @include media_all(".left-auto", $breakpoint) {
    left: auto;
  }
  @include media_all(".right-auto", $breakpoint) {
    right: auto;
  }
  @include media_all(".border-radius-auto", $breakpoint) {
    border-radius: auto;
  }
  @include media_all(".border-bottom-left-radius-auto", $breakpoint) {
    border-bottom-left-radius: auto;
  }
  @include media_all(".border-bottom-right-radius-auto", $breakpoint) {
    border-bottom-right-radius: auto;
  }
  @include media_all(".border-top-left-radius-auto", $breakpoint) {
    border-top-left-radius: auto;
  }
  @include media_all(".border-top-right-radius-auto", $breakpoint) {
    border-top-right-radius: auto;
  }
  @include media_all(".border-bottom-radius-auto", $breakpoint) {
    border-bottom-left-radius: auto;
    border-bottom-right-radius: auto;
  }
  @include media_all(".border-left-radius-auto", $breakpoint) {
    border-top-left-radius: auto;
    border-bottom-left-radius: auto;
  }
  @include media_all(".border-top-radius-auto", $breakpoint) {
    border-top-left-radius: auto;
    border-top-right-radius: auto;
  }
  @include media_all(".border-right-radius-auto", $breakpoint) {
    border-top-right-radius: auto;
    border-bottom-right-radius: auto;
  }
  @include media_all(".border-width-auto", $breakpoint) {
    border-width: auto;
  }
  @include media_all(".border-bottom-width-auto", $breakpoint) {
    border-bottom-width: auto;
  }
  @include media_all(".border-right-width-auto", $breakpoint) {
    border-right-width: auto;
  }
  @include media_all(".border-left-width-auto", $breakpoint) {
    border-left-width: auto;
  }
  @include media_all(".border-top-width-auto", $breakpoint) {
    border-top-width: auto;
  }
  @include media_all(".border-h-width-auto", $breakpoint) {
    border-left-width: auto;
    border-right-width: auto;
  }
  @include media_all(".border-v-width-auto", $breakpoint) {
    border-top-width: auto;
    border-bottom-width: auto;
  }
  @include media_all(".font-size-auto", $breakpoint) {
    font-size: auto;
  }
  @include media_all(".line-height-auto", $breakpoint) {
    line-height: auto;
  }
}
