$transform-h-dirs: (left: 0%, center: -50%, right: -100%);
$transform-v-dirs: (top: 0%, center: -50%, bottom: -100%);
$transform-z-dirs: (front: 0%, center: -50%, back: -100%);

@each $breakpoint in map_keys($lrj-media-breakpoints) {
  @each $v, $vp in $transform-v-dirs {
    @each $h, $hp in $transform-h-dirs {
      @include media_all(".anchor-" + $v + "-" + $h, $breakpoint) {
        transform: translateX($hp) translateY($vp);
      }
      @each $z, $zp in $transform-z-dirs {
        @include media_all(".anchor-3d-" + $v + "-" + $h + "-" + $z, $breakpoint) {
          transform: translateX($hp) translateY($vp) translateZ($zp);
        }
      }
    }
  }
}